{% extends "base.html" %}

{% block content %}
<div class="chatbox">
  <div class="chatbox-header">
    <h1 class="chatbox-header--title">{{room.name|title}} | Chat</h1>
    {% if request.user in room.customuser_set.all %}
      <a href="#" class="unsubscribe-link" data-room="{{room.slug}}">Unsubscribe</a>
    {% else %}
      <a href="#" class="subscribe-link" data-room="{{room.slug}}">Subscribe</a>
    {% endif %}

  </div>
  <div class="chatbox-text">
    <div class="chatbox-text--chat">
      <div class="scrollbar" id="style-2">
        {% for message in messages %}
        <div class="chatbox-text--line-{% if message.handle == username%}sent{%else%}received{%endif%}">
          <div class="chatbox-text--line-message-{% if message.handle == username%}sent{%else%}received{%endif%}">
            <p>{{message|safe}}</p>
          </div>
          <small class="chatbox-text--author-{% if message.handle == username%}sent{%else%}received{%endif%}">{{message.formatted_handle}}</small>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if form %}
  <form class="chatbox-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="input-group chatbox-form--form">
        {{field}}
        <span class="input-group-btn chatbox-form--send">
          <button class="btn btn-md btn-chat" type="submit">Send</button>
        </span>
      </div>
    {% endfor %}
  </form>
</div>

{% endif %}


{% endblock content %}
