{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block content %}
<div class="container">
 <div class="user-details">
   <div class="row">
     <div class="col-md-3">
       <div class="user-details--basic">
         <h1>{{profile.full_name}}</h1>
         {% if profile == request.user %}
           <a href="{% url 'account-edit' pk=user.pk%}" class="user-details--edit-profile">Edit Profile</a>
         {% endif %}
         {% if profile.avatar %}
           {% generateimage 'user-account-avatar' source=profile.avatar -- class='user-details--basic-avatar'%}
         {% endif %}
         <div class="user-details--basic--extra">
           <p>
             <small><strong>{{profile.hospital_location|default:''}}</strong></small>
             <br>
             <small><strong>{{profile.get_address|default:''}}</strong></small>
           </p>
         </div>
         <div class="user-details--private-message">
           <a href="#" id="MEH" class="btn btn-md btn-primary">Start a conversation</a>
         </div>
       </div>
     </div>
     <div class="col-md-9">
       <div class="user-details--user-info">
         <div class="user-details--user-info--about">
           {% if profile.about %}
             <h2>About Me</h2>
             <hr>
             <p>{{profile.about}}</p>
           {% endif %}
         </div>
         <br>
         <div class="user-details--user-info-topics two-column-list">
           {% if profile.topic_interests|length > 0 %}
             <h2>Topic Interests</h2>
             <hr>
             <ul>
              {% for topic in profile.topics  %}
                <li>{{topic}}</li>
              {% endfor %}
             </ul>
           {% endif %}
         </div>
         <br>
         <div class="user-details--user-info-subscriptions two-column-list">
           {% if profile.subscriptions.all|length > 0 %}
             <h2>Channel Subscriptions</h2>
             <hr>
             <ul>
               {% for subscription in profile.subscriptions.all %}
                <li><a href="{% url 'chat:chat-room' slug=subscription.slug%}">{{subscription}}</a></li>
               {% endfor %}
             </ul>
           {% endif %}
         </div>
         {% if not profile.has_more_information %}
         <div class="user-details--user-info-missing">
           <h2>There doesn't seem to be anything here :(</h2>
         </div>
         {% endif %}
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock content %}
