{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block content %}
<div class="container">
 <div class="user-details">
   <div class="row">
     <div class="col-md-3">
       <div class="user-details--basic">
         <h1>{{profile.full_name}}</h1>
         {% if profile == request.user %}
           <a href="#" class="user-details--edit-profile">Edit Profile</a>
         {% endif %}
         {% generateimage 'user-account-avatar' source=profile.avatar -- class='user-details--basic-avatar'%}
         <div class="user-details--basic--extra">
           <p>
             <small><strong>Good Samaritan Hospital</strong></small>
             <br>
             <small><strong>Portland, OR, USA</strong></small>
           </p>
         </div>
         <div class="user-details--private-message">
           <a href="#" class="btn btn-md btn-primary">Send me a Message!</a>
         </div>
       </div>
     </div>
     <div class="col-md-9">
       <div class="user-details--user-info">
         <div class="user-details--user-info--about">
           <h2>About Me</h2>
           <hr>
           <p>{{profile.about}}</p>
         </div>
         <br>
         <div class="user-details--user-info-topics two-column-list">
           <h2>Topic Interests</h2>
           <hr>
           <ul>
             <li>Rhabdomyolysis</li>
             <li>Surgery Recovery</li>
             <li>Compartment Syndrome</li>
             <li>Emotional Support</li>
             <li>Fasciotimy</li>
           </ul>
         </div>
         <br>
         <div class="user-details--user-info-subscriptions two-column-list">
           <h2>Channel Subscriptions</h2>
           <hr>
           <ul>
             <li>Rhabdomyolysis</li>
             <li>Surgery Recovery</li>
             <li>Compartment Syndrome</li>
             <li>Emotional Support</li>
             <li>Fasciotimy</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock content %}
