//
// The primary stylesheet
//
$input-border-focus: #ccc;
$chat-text-padding: 7%;
$chatbox-width: 70%;
$chatbox-color: #E2E2D3;
// Init
@import 'init';

// Base
@import 'base/base';
@import 'chat/room';
@import 'chat/dashboard';
