{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="jumbotron">
  <h1 class="heavy-header">Create an Account</h1>
  <hr>
  <form class="user-signup--form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          {% bootstrap_field form.username form_group_class='form-group general-field' %}
          {% bootstrap_field form.first_name form_group_class='form-group general-field' %}
          {% bootstrap_field form.last_name form_group_class='form-group general-field' %}
          {% bootstrap_field form.email form_group_class='form-group general-field' %}
        </div>
        <div class="col-sm-6">
          {% bootstrap_field form.password form_group_class='form-group general-field' %}
          {% bootstrap_field form.password_confirmation form_group_class='form-group general-field' %}
          {% bootstrap_field form.about form_group_class='form-group general-field' %}
          <div class="form-group">
            <label for="id_avatar" class="btn btn-info btn-lg auth-file-upload">
              Upload an Avatar
              <span hidden="hidden">{{ form.avatar }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {% bootstrap_field form.preserve_lazy_data form_group_class='form-group' %}
    {% bootstrap_button "Sign Up" button_type="submit" button_class="btn btn-primary btn-lg"%}
  </form>
</div>
{% endblock content %}
