{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="heavy-header">Welcome to Hospital Chat!</h1>
  <hr>
  <p>
    In the year of 2016, I was hospitalized for the treatment of exercise induced
    compartment syndrome and rhabdomyolysis. With the help of friends
    and family pushing me through deliriums and 4 surgeries, I managed to pull through
    and make a full recovery.
  </p>
  <p>
    As eager as I was to learn and move on from the experience, I couldn't help
    but think about my patient peers around the world who may not have had adequate support
    throughout their bare-bottom journey. During a time when you may not be able to move,
    eat, or speak, this support can become the differentiator between an uncomfortable
    experience and an utterly debilitating one.
  </p>
  <p>
    With that in mind, I created this application to facilitate supporting patients
    around the world. I hope to be able to give people the power to talk with
    others about their illnesses or simply be voice of support to those in need.
  </p>
  <p>
    This application is in very early development. If you have any suggestions, please email me
    at <a href="mailto:josuevalverde12@gmail.com?subject=Hospital-Chat-Feedback">josuevalverde12@gmail.com</a>
  </p>
  <br>
  <a href="{% url 'chat:chat-dashboard'%}" class="btn btn-primary btn-lg">Enough story, let's chat!</a>
</div>

{% endblock content %}
