$chatbox-width: 100%;

.chatbox-header {
  width: $chatbox-width;
  border-top: 10px solid #031634;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  background-color: #031634;
  margin: 0;
  padding-left: 20px;
  h1 {
    margin-bottom: 0;
    color: #fff;
    font-size: 2em;
  }
}

.chatbox-text {
  width: $chatbox-width;
  overflow: auto;
  border: 15px solid #031634;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chatbox-text--chat {
    position: relative;
  }

  .chatbox-text--line-sent {
    margin-left: 5%;
    margin-top: $chat-text-padding;
    margin-right: 45%;
    text-align: left;
    border-radius: 20px;
    font-size: 1.2em;
  }

  .chatbox-text--line-message-sent {
    text-align: left;
    background: rgba(orange, 0.5);
    border-radius: 20px;
    padding: 20px 30px 20px 20px;
  }
  .chatbox-text--line-received {
    margin-right: 5%;
    margin-left: 45%;
    margin-top: $chat-text-padding;
    text-align: right;
    border-radius: 20px;
    font-size: 1.2em;
  }
  .chatbox-text--line-message-received {
    text-align: right;
    background: rgba(blue, 0.5);
    border-radius: 20px;
    padding: 20px 20px 20px 30px;
  }

  .chatbox-text--author-sent {
    margin-left: 5%;
    text-align: left;
  }

  .chatbox-text--author-received {
    margin-right: 5%;
    text-align: left;
  }

}

.chatbox-form {
  width: $chatbox-width;
  border-bottom: 15px solid #031634;

  .chatbox-form--form {
    display: flex;
    border-left: 15px solid #031634;
    border-right: 15px solid #031634;
  }

  .chatbox-form--input {
    flex: 10;
    border-radius: 0;
    border: 2px solid transparent;
    overflow: hidden;
    padding: 18px;
    background: #EEE;
  }

  .chatbox-form--send {
    .btn {
      border-radius: 0;
      padding-right: 25px;
      padding-left: 25px;
      border: 2px solid transparent;
      height: 100%;
    }
  }

}
