.user-details {

  margin-top: 5em;

  @media only screen  and (min-width : 991px){
    -webkit-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
    box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
  }

  .row {
    background-color: #00A390;
    background-blend-mode: soft-light;
    padding: 20px 0px 20px;
  }

  .user-details--basic {
    background: white;
    padding: .75em 1.5em 1.5em;
    // box-shadow: -8px 6px rgba(49, 185, 127, 0.17);
    @media only screen  and (min-width : 991px){
      -webkit-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
      -moz-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
      box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
    }

    img {
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    h1 {
      font-weight: 600;
      letter-spacing: 2px;
    }

    .user-details--edit-profile {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }

  .user-details--user-info {
    background: white;
    padding: .75em 1.5em 1.5em;
    width: 100%;
    // box-shadow: -8px 6px rgba(49, 185, 127, 0.17);
    @media only screen  and (min-width : 991px){
      -webkit-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
      -moz-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
      box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
    }

    @media only screen  and (min-width : 1224px) {
      .two-column-list {
        ul {
          columns: 2;
          list-style: none;
          padding: 0 0 0 1em;

          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

#MEH {
  box-shadow: -4px 5px 20px 0px rgba(0, 0, 0, 0.4);
  border: none;
  background-color: $blue;
  color: white;
}
