.user-details {

  margin-top: 5em;

  .user-details--basic {
    background: white;
    padding: .75em 1.5em 1.5em;
    box-shadow: -8px 6px rgba(49, 185, 127, 0.17);

    img {
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    h1 {
      font-weight: 600;
      letter-spacing: 2px;
    }

    .user-details--edit-profile {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }

  .user-details--user-info {
    background: white;
    padding: .75em 1.5em 1.5em;
    width: 100%;
    box-shadow: -8px 6px rgba(49, 185, 127, 0.17);

    @media only screen  and (min-width : 1224px) {
      .two-column-list {
        ul {
          columns: 2;
          list-style: none;
          padding: 0 0 0 1em;

          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.select2 {
  color: black;
}
