{% extends "base.html" %}

{% block content %}
<div class="chatbox-header">
  <h1>Title of Chat and Other Info</h1>
</div>
<div class="chatbox-text">
  <div class="chatbox-text--chat">
    <div class="scrollbar" id="style-2">
      {% for i in '012' %}
      <div class="chatbox-text--line-{% if i|divisibleby:2%}sent{%else%}received{%endif%}">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book..
        </p>
      </div>
      <p class="chatbox-text--author-{% if i|divisibleby:2%}sent{%else%}received{%endif%}"><strong>Josue at 2:30PM</strong></p>
      {% endfor %}
    </div>
  </div>
</div>
<form class="chatbox-form">
  <div class="input-group chatbox-form--form">
    {# <input type="text" class="form-control chatbox-form--input"> #}
    <textarea class="form-control chatbox-form--input" rows="1" cols="40"></textarea>
    <span class="input-group-btn chatbox-form--send">
      <button class="btn btn-md btn-success" type="submit">Send</button>
    </span>
  </div>
</form>
{% endblock content %}
