$background-pink : #FF006C;
$white : #F0EDEE;
$blue : #006663;
$blue-2 : #0b9e9a;
$grey : #8F9491;

* {
	border-radius: 0 !important;
}

body {
	font-family: 'Montserrat', sans-serif;
	// background-color: $white;
	background: url('../img/custom-lines.png'); // Obtained via https://subtlepatterns.com/
	font-size: 18px;
}

a {
	color: #249aff;
}

// Navbar
.navbar {
	background-color: #fff;
	border: 0;
	border-radius: 0px;
	-webkit-box-shadow: -9px 7px 84px -15px rgba(0,0,0,0.68);
	-moz-box-shadow: -9px 7px 84px -15px rgba(0,0,0,0.68);
	box-shadow: -9px 7px 84px -15px rgba(0,0,0,0.68);
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
		color: $blue;
		font-weight: 700;
		// line-height: 45px;
		font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: $blue;
		// line-height: 45px;
		font-size: 1.2em;
		background: #fff;
		margin-top: 0;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #FFF;
	background: $blue;
}

.navbar-right .dropdown-menu {
		right: auto;
    left: auto;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #FFF;
	background-color: $blue;
}

.navbar-default .navbar-toggle{
	border-color: $blue;

	&.navbar-toggle{
		background-color: $blue;
		.icon-bar {
			background-color: #fff;
		}
	}

	&.collapsed {
		background-color: #fff;

		.icon-bar {
			background-color: $blue;
		}
	}
}

//Dropdown
.dropdown-menu {
	background-color: $blue;
	padding: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: rgba(255,255,255,1);
	color: $blue !important;
}

.dropdown-menu > li > a > small {
	display: block;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a {
	color: #FFF;
	white-space: normal;
	padding: 10px 20px;
}

.jumbotron {
	background-color: $blue;
	color: #FFF;
	-webkit-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
	box-shadow: -8px 6px 112px -16px rgba(0,0,0,0.75);
}

.scrollbar
{
	float: left;
	height: calc(100vh - 300px);
  width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
  background-color: $chatbox-color;
  color: black;
	padding-bottom: $chat-text-padding;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444;
}

#condition {
  background-image: none;
	font-size: 1.5em;
}

.base-input-form {
  width: 100%;

  .base-input-form--form {
    display: flex;
    border: 15px solid white;
  }

  .base-input-form--input {
    flex: 10;
    border-radius: 0;
    overflow: hidden;
    padding: 25px;
  }

  .base-input-form--send {
    .btn {
      border-radius: 0;
      padding-right: 25px;
      padding-left: 25px;
      height: 100%;
			}
		.glyphicon, .glyphicon-search {
			position: static;
    }
  }

}

li.suggestion {
	color: #114d7e;
}

#searchCount {
	visibility: hidden;
}

.btn-custom {
	color: #FFF;
	background-color: $blue;

}

.btn-custom:hover {
	color: #FFF;
	background-color: rgba(0,196,172,.7);
}

.btn-chat {
	color: #FFF;
	background: $blue;

}

.btn-chat:hover {
	color: #FFF;
	background-color: $blue-2;
}

.btn-primary {
	background-color: #00C4AC;
	border-color: #00A390;

	opacity: 1;
	&:hover {
		background-color: #00C4AC;
		border-color: #00C4AC;
		opacity: .9;
	}
}

.heavy-header {
	font-weight: 600;
}

.select2 {
  color: black;

	&.select2-container {
		min-width: 100%;
	}
}

.file-upload-field input {
	max-width: 100%;
}
