$background-pink : #FF006C;

body {
	font-family: 'Montserrat', sans-serif;
	background: url('../img/ignasi_pattern_s.png'); // Obtained via https://subtlepatterns.com/
	font-size: 18px;
}

// Navbar
.navbar {
	background-color: $background-pink;
	border: 0;
	border-radius: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
		color: #FFF;
		font-weight: 700;
		line-height: 45px;
		font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
		line-height: 45px;
		font-size: 1.2em;
		background: $background-pink;
		margin-top: 0;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #FFF;
	background: #CC0056;
}

.navbar-right .dropdown-menu {
		right: auto;
    left: auto;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #FFF;
	background-color: #CC0056;
}

.dropdown-menu {
	background-color: $background-pink;
	padding: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #CC0056;
}

.dropdown-menu > li > a > small {
	display: block;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a {
	color: #FFF;
	white-space: normal;
	padding: 10px 20px;
}

.jumbotron {
	background-color: #8FBE00;
	color: #FFF;
}

.scrollbar
{
	float: left;
	height: calc(100vh - 300px);
  width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
  background-color: $chatbox-color;
  color: black;
	padding-bottom: $chat-text-padding;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444;
}

#condition {
  background-image: none;
	font-size: 1.5em;
}

.base-input-form {
  width: 100%;

  .base-input-form--form {
    display: flex;
    border: 15px solid #698B00;
  }

  .base-input-form--input {
    flex: 10;
    border-radius: 0;
    overflow: hidden;
    padding: 25px;
  }

  .base-input-form--send {
    .btn {
      border-radius: 0;
      padding-right: 25px;
      padding-left: 25px;
      height: 100%;
			}
		.glyphicon, .glyphicon-search {
			position: static;
    }
  }

}

li.suggestion {
	color: #114d7e;
}

#searchCount {
	visibility: hidden;
}

.btn-custom {
	color: #FFF;
	background-color: $background-pink;
}

.btn-custom:hover {
	color: #FFF;
	background-color: #FF3389;
}

.btn-chat {
	color: #FFF;
	background: $background-pink;
}

.btn-chat:hover {
	color: #FFF;
	background-color: #FF3389;
}

.heavy-header {
	font-weight: 600;
}
